  .modal {
    background: rgba(0, 0, 0, 0.6);
  }
  .modal-container {
    position: absolute;
    width: 60%;
    background: #ffffff;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .hederModel{
      text-align: end;
  }
  